*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #ED6355;
}
/* navbar area */
#header-nav{
    margin: 0px;
    padding: 0px;
    
}

#container-div{
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
    background-color: #6E5BBA;
    color:black;
    
}
#heading_top{
    font-size: 3em;
    font-weight: bolder;
    margin: 20px 10px;
    vertical-align: middle;
    
}
/*navbar-end*/
h2{
    margin:20px auto 50px;
    font-weight: bolder;
}
#container_2 {
    
    border: 5px solid black;
    background-color: #FDA94F;
}
#container_2 h4{
    font-weight:bold;
}

 @media (min-width: 768px) { 

     #container-div{
        height:100px;} 
    .menu-items{
        display: none;
    }
 }

 @media (min-width: 576px) and (max-width:767px){

    #container-div{
        height:100px;} 
    .menu-items{
        display: none;
    }
 } 
 @media (max-width: 575px){
    #container-div{
        width:100%;
    }

    .nav-item{
        margin-top: 0.1px;
        margin-bottom: 0.1px;
    }
    li p{
        
        background-color: aliceblue;
        border: 2px solid black;
        margin-top: auto;
        margin-bottom: auto;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    

    

 
 }
